{% extends 'base.html' %}
{% block content %}
<div class='container-fuild'>
    <div class='content'>
    <div class='row border border-primary mr-2'>
        <div class='col-md-4 border border-primary'>
            <table class='table border-primary table-hover'>
                <tbody>
                <tr>
                  <th scope="row">Stuff</th>
                 </tr>
                <tr>
                    <th scope="row" style="border-color:red;">Stuff</th>
                </tr>
                <tr>
                  <th scope="row" style="border-color:red;">Stuff</th>
                 </tr>
                <tr>
                    <th scope="row" style="border-color:red;">Stuff</th>
                </tr>
            
                </tbody>
            </table>
        </div>
            <div class='col-md-8 border border-primary'>
            <h1>Other stuff</h1>
            <table class='table border-primary table-hover'>
                <tbody>
                <tr>
                  <th scope="row">Stuff</th>
                 </tr>
                <tr>
                    <th scope="row" style="border-color:red;">Stuff</th>
                </tr>
                <tr>
                  <th scope="row" style="border-color:red;">Stuff</th>
                 </tr>
                <tr>
                    <th scope="row" style="border-color:red;">Stuff</th>
                </tr>
                                <tr>
                    <th scope="row" style="border-color:red;">Stuff</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}