{% extends 'base.html' %}
{% block content %}
        <h1>User Info</h1>
        <form action="/register", method="post"> 
        <table>
            <tr>
                <td><label for="first_name" >First Name:</label></td>
                <td><input type="text" id="first_name" name="first_name" value="{{username}}" placeholder="" required></td>
                <td><label for="first_name"><span class="color"></span></label></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td><input type="text" id="last_name" name="last_name" required></td>
                <td><label for="last_name"><span class="color"></span></label></td>
            </tr>   
            <tr>
                <td><label for="school_id">School Id:</label></td>
                <td><input type="text" id="school_id" name="school_id" placeholder='Even for Teacher'></td>
                <td><label for="school_id"><span class="color"></span></label></td>
            </tr>   
            <tr>
                <td><label for="username">Username:</label></td>
                <td><input type="text" id="username" name="username" value="{{username}}" placeholder="" required></td>
                <td><label for="username"><span class="color"></span></label></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="stuff" name="password"></td>
                <td><label for="username"><span class="color"></span></label></td>
            </tr>
            </div>
            <tr>
                <td><label for="confirm">Confirm Pw:</label></td>
                <td><input type="password" id="stuff" name="password_confirm"></td>
            </tr>
            <tr>
                <td><label for="email">Email Address:</label></td>
                <td><input type="text" id="stuff" name="email" value="{{email}}" placeholder="Optional"></td>
            </tr>
        </table>
        <input type="submit" value='Submit'/>
        </form>
{% endblock %}