<!DOCTYPE html>
<html>
    <head>
        <title>react</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class='container container-fluid border border-primary'>
            <div class='row'>
                <div class='col-md-2 border '>
                    something
                </div>
                <div  class='col-md-8 border border-success rounded mt-2 mb-2 ml-2 pr-2 shadow'>
                    This hhh
                    <span id='react'>kl</span>
                </div>
                <script type='text/jsx'>
                /* global React*/
                // This function take in an opject with specification
                    var helloComponent = React.createClass({
                        render:function(){
                            return (<div> Hello React </div> );
                        }
                    });
                    ReactDOM.render(<helloComponent/>,document.getElementById('react'));
                    
                    class counter extends React.component{
                        constructor(props){
                            super(props);
                            this.state = {count:0};
                        }
                        plusCount(){ //call back function
                            this.setState({count: this.state.count + 1});
                        }
                        render(){// invoked when setState is called
                            return (
                                <div> Count: { this.state.count }
                                    <button type='button' class='btn btn-primary' onClick={ this.plusCount.bind(this) }>Plus
                                    </button>
                                </div>
                                );
                        }
                    }
                </script>
                    
                <div class='col-md-2'>
                    <span id='test'>
                        something
                    </span>
                </div>
            </div>
        </div>
      <!-- Load React. -->
      <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
      <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

      <!-- Load our React component. -->
      
    </body>
</html>