{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
  <div class="container-fuild form-row pb-4" style='width:100%'>
    <div class="col-md-5">
        <div class='col-md-9'>
          <h4>{{ course.semester }}, {{ course.year }}</h4>
          <hr class='hr-line'/>
          <h4>{{ course.course_title }}</h4>
          <hr class='hr-line'/>
          <h4>Dept: {{ course.department.name }}</h4>
          <hr class='hr-line'/>
          <a class="btn btn-sm btn-primary shadow-sm mt-2" href='{% url "classroom_view" course_id=course.id %}'><i class="fas fa-ban"></i> Cancel Add </a>
          <hr style="text-align:left;margin-left:0;height:0px;padding: 0px"/>
        </div>
      {% if messages %}
        <span class="messages">
      {% for message in messages %}
           <div class="alert-inherit alert-{{ message.tags }}" role="alert">{{ message }}</div>
      {% endfor %}
        </span> 
      {% endif %}
    </div>  
    <div class='col-md-5'>
    <div class='form border border-info rounded pb-3 shadow'>
      <form action="/teacher/classroom/add_classroom", method="post", id=''> {% csrf_token %}
        <input type="hidden" name="course_id" value='{{course.id}}'/>
        <div class="input-group mt-3" >
        <div>
          <div class="input-group-prepend">
            <label class="btn btn-info shadow-sm arrow" style='cursor:default' for='' >Title / Alias &nbsp</label>
          </div>
            <textarea class="form-control shadow-sm" name='course_title' id="" rows="1" cols='39' 
            maxlength='100'placeholder="" data-toggle="popover" title="" data-content="For your reference only"required>{{course.course_title}}</textarea>
          <label class="btn btn-info mt-2 shadow-sm arrow" >Time Slot &nbsp&nbsp&nbsp</label>
        </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="8:00 AM" Checked>
            <label class="form-check-label" for="">8:00 AM</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="9:00 AM">
            <label class="form-check-label" for="">9:00 AM</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="10:00 AM">
            <label class="form-check-label" for="">10:00 AM</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="11:00 AM">
            <label class="form-check-label" for="">11:00 AM</label>
          </div> 
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="1:00 PM">
            <label class="form-check-label" for="">1:00 PM</label>
          </div> 
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="2:00 PM">
            <label class="form-check-label" for="">2:00 PM</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="3:00 PM">
            <label class="form-check-label" for="">3:00 PM &nbsp</label>
          </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="time" id="" value="other">
            <label class="form-check-label" for="">Other</label>
          </div>
          <div style = 'width:140px;right-align:10px'class="form-check form-check-inline">
            <input type='time'class="form-control shadow-sm" name="custom_time"  id="" placeholder='ex. 9:30 AM' data-toggle="popover" title="" data-content='Format hh:mm AM/PM'>
          <!--maxlength='8'-->
          </div><br><br>
        <div class="input-group mb-2" >
          <div class="input-group-prepend">
            <button class="btn btn-info shadow-sm arrow" >Room Number &nbsp</button>
          </div>
            <input type="text" class="form-control mr-5 shadow-sm" name='room_number'id="" maxlength="10" placeholder="Room #" data-toggle="popover" title="" data-content='Where you do your lecture' required>
        </div>
        <div>
          <label class="btn btn-info shadow-sm arrow" for='description' >Course Description</label>
          <textarea class="form-control shadow-sm" name='description' id="" rows="3" cols='39' placeholder="ex. Summer A 2018 {{course.course_title}} Gloria Mendez" 
          maxlength='200' data-toggle="popover" title="" data-content="Briefly describe your Course"required></textarea>
          <button class="btn btn-md btn-success text-center mt-2 shadow-sm"><i class="fas fa-chalkboard"></i> Add Class</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}