{% extends 'base.html' %}
{% block content %}
<div class='content'>
        <div style="width: 280px">
        <h4 style='padding-left: 5px'>{{course.course_title}}1234</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 5px'>Id: {{course.course_number}}</h4>
        <hr class='hr-line'/>
        <br>
        <a href='{% url "add_classroom" course_id=course.id %}' class="btn btn-info btn-sm" role="button">Add Classroom</a>
        </div>
        <br>
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        
        {% if classes %}
          <h6>Classroom assigned:</h6>
          <table class="table table-hover table-bordered pad-right-table">
            <thead class='table-primary'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course Title</th>
              <th scope="col">Room #</th>
              <th scope="col">Time</th>
              <th scope="col">Description</th>
              <th scope="col">Student Enrolled</th>
              <th scope="col">Edit Info</th>
            </tr>
            </thead>
            <tbody>
        {% for class in classes %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ class.course_title }}</td>
              <td>{{ class.room_number }}</td>
              <td>{{ class.time }}</td>
              <td>{{ class.description }}</td>
              <td>
                <a href='{% url "edit_course" course_id=course.id %}'><i class="fas fa-users"></i></a>
              </td>
              <td>
                <a href='{% url "edit_course" course_id=course.id %}'><i class="fas fa-edit"></i></a>
              </td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
        
        {% for student in students %}
        <h3>Course Selection Form.</h3>
        <br>
        <form action="/teacher/student_views" method="post" id='course_select'> {% csrf_token %}
            <input name="student_id" type="hidden" value="{{student.user.id}}">
        <label for="course">Pick Course:</label>
        <select class="selectpicker" data-style="btn-info" name='classroom_id'>
        {% for classroom in all_classroom %}
            <option value='{{classroom.id}}'>{{classroom.subject}}</option>
        {% endfor %}
        </select>
        <div class="col-xs-6 form-group">     
            <input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">
        </div>
        </form>
        {% endfor %}
</div>
{% endblock %}