{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
  <div class="container-fuild form-row" style='width:100%'>
    <div class="col-md-6">
        <div style="width: 280px">
        <h4 style='padding-left: 1px'></h4></h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'>
        </h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'></h4>
        <hr class='hr-line'/>
        <hr class='hr-button-gap'/>
          <a href='{% url "teacher" %}' class="btn btn-sm btn-primary shadow-sm" ><i class="fas fa-step-backward"></i> Console</a></a>
          <hr/></div></div>
        <div class="col-md-5">
        {% if messages %}
          <ul class="messages" style='list-style-type: none;'>
        {% for message in messages %}
             <li><div class="alert-inherit alert-success shadow-sm" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        </div></div>
        {% if schedule_conflict %}
          <h6 style='color:red'>Possible conflict {{ schedule_conflict|length }}</h6>
        {% endif %}
        {% if schedule_conflict %}
          <h5><big>Class with Timing conflict :</big></h5>
          <div class='mr-2'>
          <table class="table table-hover table-bordered pad-right-table shadow ">
            <thead class='table-primary'>
            <tr>
              <th scope="col" style="width: 5%">#</th>
              <th scope="col">Course Title / Alias</th>
              <th scope="col">Room Number</th>
              <th scope="col">Time</th>
              <th scope="col">Academic Year</th>
              <th scope="col">Edit Info</th>
              <th scope="col">Drop Class</th>
            </tr>
            </thead>
            <tbody>
        {% for class in schedule_conflict %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ class.course_title }}</td>
              <td>{{ class.room_number }}</td>
              <td class='text-danger'>{{ class.time|time:"g:i A" }}</td>
              <td>{{ class.semester }}, {{class.year}}</td>
              <td>
                <a href='{% url "edit_classroom" classroom_id=class.id rout_from=schedule_conflict %}'><i class="fas fa-edit"></i></a>
              </td>
              <td>
                <form action='/teacher/classroom/detached_classroom/' method='post'>{% csrf_token %}
                  <input type='hidden' name='classroom_id'value='{{ class.id }}'/>
                  <button type='submit' style='border:none;background:none;cursor: pointer;cursor: hand;'>
                  <i style='color:red' class="fas fa-trash test" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Alert!"></i>
                  </button>
                </form>
              </td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        {% else %}
        <h5><div class="alert-inherit alert-info shadow-sm" role="alert"><i class="fas fa-exclamation"></i> No Classes assigned to this course.</div></h5>
        {% endif %}
</div></div><br>
{% endblock %}
