{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
        <div style="width: 280px">
        <h4 style='padding-left: 1px'>{{ course.semester }}, {{ course.year }}</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'>{{course.course_title}}</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'>Id: {{course.course_number}}</h4>
        <hr class='hr-line'/>
        <br>
        <a href='{% url "add_classroom" course_id=course.id %}' class="btn btn-info btn-sm" role="button">Add New Classroom</a>
        <hr/>
        </div
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        
        {% if classes %}
          <h5><big>Classroom assigned:</big></h5>
          <table class="table table-hover table-bordered pad-right-table">
            <thead class='table-primary'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course Title/Alias</th>
              <th scope="col">Room Number</th>
              <th scope="col">Time</th>
              <th scope="col">Description</th>
              <th scope="col">Student Enrolled</th>
              <th scope="col">Edit Info</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
        {% for class in classes %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ class.course_title }}</td>
              <td>{{ class.room_number }}</td>
              <td>{{ class.time }}</td>
              <td>{{ class.description }}</td>
              <td>
                <a href='{% url "edit_course" course_id=course.id %}'><i class="fas fa-users"></i></a>
              </td>
              <td>
                <a href='{% url "edit_classroom" classroom_id=class.id %}'><i class="fas fa-edit"></i></a>
              </td>
              <td><a href='{% url "delete_classroom" classroom_id=class.id %}'>
                <i style='color:red' class="fas fa-trash test" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="ALERT!"></i></a></td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        {% else %}
        <h4><div class="alert-inherit alert-info" role="alert"><i class="fas fa-exclamation"></i> No Classes assigned to this course.</div></h4>
        {% endif %}
        <div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
        
        {% for student in students %}
        <h3>Course Selection Form.</h3>
        <br>
        <form action="/teacher/student_views" method="post" id='course_select'> {% csrf_token %}
            <input name="student_id" type="hidden" value="{{student.user.id}}">
        <label for="course">Pick Course:</label>
        <select class="selectpicker" data-style="btn-info" name='classroom_id'>
        {% for classroom in all_classroom %}
            <option value='{{classroom.id}}'>{{classroom.subject}}</option>
        {% endfor %}
        </select>
        <div class="col-xs-6 form-group">     
            <input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">
        </div>
        </form>
        {% endfor %}
</div>

<!-- Need to learn JS how to pass Data into Modal for confirmation -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body" style='background:red'>-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}