<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128058347-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128058347-1');
</script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'school_app/style.css' %}" />
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style type="text/css">
    .image{
    background-image:url(https://s3-us-west-2.amazonaws.com/aws-edx-khoi/school.jpg);
    /*background-image: url("https://static1.squarespace.com/static/52f11228e4b0a96c7b51a92d/t/55e705bee4b03fc234f02b5e/1441203647587/?format=2500w");*/
    background-position: top right;
    background-repeat: no-repeat;
    background-size:  auto 100%;
    border: 5px solid #344a5f;}
    </style>
    {% if title == none %}  
        <title>LC High</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %} 
    </head>
    <body style='height:100%;margin: 0;
    background-repeat: no-repeat;background-attachment: fixed;background-size: cover;background-size:  auto 100%;
    background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);background-attachment: fixed;'
    class='body-index  text-dark'>
        <h1 class='text-center text-dark'style="font-size:50px;text-shadow: 3px 3px 8px rgba(150, 150, 150, 1);">
            Welcome to Tampa Bay High Shool</h1><br>
        {% if messages %}
          <ul class="messages" style='list-style-type: none;'>
        {% for message in messages %}
             <li><div class="alert-inherit alert-{{ message.tags }} shadow-sm" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        <div class='image rounded shadow'><br><br>
        <div class="container ">
        {% if user.is_authenticated %}
        <div style='width:350px'>
            <h4>You are currently logged in as {{user.username}}</h4>
            <hr style="text-align:left;margin-left:0;width:350px;height:0px;padding: 0px"/>
            <a href="/home_redirect" class="btn btn-primary btn-md shadow-sm"><i class="fas fa-home"></i> Homepage </a> or
            <a href="/logout" class="btn btn-warning btn-md shadow-sm">&nbsp <i class="fas fa-sign-out-alt"></i> Logout &nbsp &nbsp</a> 
            <hr style="text-align:left;margin-left:0;width:350x;height:0px;padding: 0px"/>
            <br>
        </div></br></br></br></br>
        {% else %}
        <div class="panel panel-login">
        <div class="panel-body">
          <div class="row justify-content-md-center">
            <div class="col-lg-12">
        <h3>User Login</h3>
        <hr style="text-align:left;margin-left:0;width:315px;height:0px;padding: 0px"/>
        <form action="/homepage" method="post"> {% csrf_token %}
        <table>
            <tr>
                <td><label for="username"><big>Username:</big></label></td>
                <td><input type="text" id="username" name="username" class='form-control' placeholder='Username' required ></td>
            </tr>
            <tr>
                <td><label for="password"><big>Password:</big></label></td>
                <td><input type="password" id="password" name="password" class='form-control' placeholder='Password' required ></td>
            </tr>   
        </table>
        <div class="col-xs-6 form-group">   
            <button class="btn btn-md btn-primary shadow-sm" id="login"><i class="fa fa-lock"></i> Login »</button>
        </div>
        </form>
        <hr style="text-align:left;margin-left:0;width:315px;height:0px;padding: 0px"/>
        </div></div></div></div></span>
        </br>
        <div>New Student and Educator register here.</div>
        <a href='/register'>Register</a>
        
    {% endif %}   
    </div></div>
        <br><br>
        <div class='ml-1'>
            <div style='font-size:25px'>Testing Navigation <i class="fab fa-earlybirds"></i></div>
            <div><a href='http://blog.khoi.us/'>Blog</a>: using wordpress hosted on AWS Lightsail</div>
            <div><a href='http://test.khoi.us/'>Static Webpage</a>: using template and AWS S3</div>
            <div></div>
        </div>
        <div class ='ml-1'>
        <div style='font-size:25px' >Debug Navigation <i class="fa fa-bug"></i></div>
        <a href='/login'>login</a> II
        <a href='/'><strike>student</strike></a> II
        <a href='/teacher'>teacher</a> II 
        <a href='/'><strike>student homepage</strike></a> II<br>
        <a href='/teacher'>teacher homepage</a> II
        <a href='/admin'>Django Admin</a> II
        <a href='/learning_JS'>Practice Page</a>
        </div>
         <span style='font-size:60px;'>
            <img src='https://d1.awsstatic.com/webteam/homepage/editorials/Site-Merch_Lightsail_Editorial.f3b6112b81a2512198937a63bc1d23381df43bcb.png' width="120" height="70">
            <i class="devicon-amazonwebservices-plain-wordmark text-danger"></i>
            <!--<img src="https://d1.awsstatic.com/LightsailAssets/icon_home_robot.7c86e1fe91a13b9e4ed0e836f5a42b232ff8a874.gif" alt="HTML5 Icon" width="45" height="45">-->
            <i class="devicon-python-plain-wordmark "style='color:#05314f'></i>
            <i class="devicon-django-line-wordmark colored"></i>
            <i class="devicon-mysql-plain-wordmark colored"></i>
            <!--<i class="devicon-linux-plain colored"></i>-->
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <a href='https://github.com/Khoi938/AWS-SchoolApp'><i class="devicon-github-plain-wordmark colored"></i></a>
                <i class="fab fa-linux"></i>
            <a href=' https://www.linkedin.com/in/khoi938/'><i class="fab fa-linkedin"></i></a>
            
                <i class="fab fa-stack-overflow"></i>
        </span>
        </br>
    </body>
</html>