<!DOCTYPE html>
<html>
    <head>
        <title>Learning JS</title>
        <script>//Function can go inside head
            function say_hello(a,b,c){//JS do not have overload, only one name, you can use any parameter
            // they are loosely type, and non argument is loosely typed
                document.write('<br>Hello Everyone! Hello ' + a)
                var age = b + c
                document.write('<br>I see you turn ' + age + ' today')
                
            }
        </script>
    </head>
    <body>
        <script>
            document.write('Hello World');
            var my_variable;// This is a variable declaration
            my_variable = 5; // this is assigment
            var word = '<br> My name is';
            var more_word = ' Khoi';
            var my_name = word + more_word;
            document.write(my_name + `String is store as an object which has its own property
            for example my name have 4 letters. so
            <br>
            var myname = 'Khoi';
            <br>
            var lengh_of_myname = myname.length;
            <br>
            document.write(lengh_of_myname); Should = to
            `)
            var my_name = 'Khoi <br>';
            var length_of_myname = my_name.length;//A property of an object give some pieces of 
            // information about that object
            // while a method have output/input. It does calculation
            document.write(length_of_myname);
            var num1 = 4;
            var num2 = 5;
            var total = num1 + num2;
            document.write('<br> This is the total:'+total)// The output will be auto converetd to string
            var string = 'qwerty';
            var input = string.substring(2,4);
            document.write('<br>'+input)
            var array = new Array(5); // or you can do braket like this
            var array2 = ['cat','dog','pizza']
            array[0]= 'cat';
            array[2] = 'dog';
            array[5] = 50;
            document.write('<br>' + array[5]);
            document.write(array);
            document.write('<br>' + array2 );
            say_hello('Diana',3,4);
            var num = 'bob';
            if (num > 8){ //alert is a pop up using parameter input as a function
                alert(num + ' is higher than 8')
            }
            else if ((typeof num) == 'string'){
                document.write('<br> This is a string')
            } 
            else {
                alert( num + ' is lower than 8')
            };
            for (i=0;i<5; i++){//for i = value; while this condition hold true; do this
                document.write('The current value of i is: ' + i + '<br>')
            };
        </script>
        <h4 id='#jump' class='text-danger'>Jump here</h4>
        <a href='/test_page_2'>To test page 2</a>
    </body>
</html>