<!DOCTYPE html>
<html>
    <head>
        <title>Learning JS</title>
    </head>
    <body>
        <script>
            document.write('Hello World');
            var my_variable;// This is a variable declaration
            my_variable = 5; // this is assigment
            var word = '<br> My name is';
            var more_word = ' Khoi';
            var my_name = word + more_word;
            document.write(my_name + `String is store as an object which has its own property
            for example my name have 4 letters. so
            <br>
            var myname = 'Khoi';
            <br>
            var lengh_of_myname = myname.length;
            <br>
            document.write(lengh_of_myname); Should = to
            `)
            var my_name = 'Khoi <br>';
            var length_of_myname = my_name.length;//A property of an object give some pieces of 
            // information about that object
            // while a method have output/input. It does calculation
            document.write(length_of_myname);
            var num1 = 4;
            var num2 = 5;
            var total = num1 + num2;
            document.write('<br> This is the total:'+total)// The output will be auto converetd to string
            var string = 'qwerty';
            var input = string.substring(2,4);
            document.write('<br>'+input)
        </script>
    </body>
</html>