<!DOCTYPE html>
<html>
    <head>
        <title>Learning JS</title>
        <script>//Function can go inside head
            function say_hello(a,b,c){//JS do not have overload, only one name, you can use any parameter
            // they are loosely type, and non argument is loosely typed
                document.write('<br>Hello Everyone! Hello ' + a)
                var age = b + c
                document.write('<br>I see you turn ' + age + ' today')
                
            }
        </script>
    </head>
    <body>
        <script>
            document.write('Hello World');
            var my_variable;// This is a variable declaration
            my_variable = 5; // this is assigment
            var word = '<br> My name is';
            var more_word = ' Khoi';
            var my_name = word + more_word;
            document.write(my_name + `String is store as an object which has its own property
            for example my name have 4 letters. so
            <br>
            var myname = 'Khoi';
            <br>
            var lengh_of_myname = myname.length;
            <br>
            document.write(lengh_of_myname); Should = to
            `)
            var my_name = 'Khoi <br>';
            var length_of_myname = my_name.length;//A property of an object give some pieces of 
            // information about that object
            // while a method have output/input. It does calculation
            document.write(length_of_myname);
            var num1 = 4;
            var num2 = 5;
            var total = num1 + num2;
            document.write('<br> This is the total:'+total)// The output will be auto converetd to string
            var string = 'qwerty';
            var input = string.substring(2,4);
            document.write('<br>'+input)
            var array = new Array(5); // or you can do braket like this
            var array2 = ['cat','dog','pizza']
            array[0]= 'cat';
            array[2] = 'dog';
            array[5] = 50;
            document.write('<br>' + array[5]);
            document.write(array);
            document.write('<br>' + array2 );
            say_hello('Diana',3,4);
            var num = 'bob';
            if (num > 8){ //alert is a pop up using parameter input as a function
                alert(num + ' is higher than 8')
            }
            else if ((typeof num) == 'string'){
                document.write('<br> This is a string')
            } 
            else {
                alert( num + ' is lower than 8')
            };
            for (i=0;i<5; i++){//for i = value; while this condition hold true; do this
                document.write('The current value of i is: ' + i + '<br>')
            };
        </script>
        <h4 id='#jump' class='text-danger'>Jump here</h4>
        <a href='/test_page_2'>To test page 2</a>
        <p>
            Hello my name is: 
            <script>
                var name = 'Khoi';
                console.log(name);
            </script>
            <br>
            I'm 
            <script>
                var age = 32;
                document.write(age);
            </script>
            year old!
            <br>
            <script>
                var firstName = 'Khoi';
                var lastName = 'Le';
                var fullName = firstName.concat(' ',lastName);
                document.write(fullName);
                document.write('<br>');
                var fullName2 = firstName+' '+lastName;
                document.write('My name is: '+fullName2);
                //script is stopped if crashed in error
                document.write(fullName.toUpperCase())
                var value = null;
                if (null){
                    document.write('<br>Null != False');
                };
                //if null == False is flase howver null is false
                document.write(null);
                var arr = ['cat','dog','mouse',13];
                // document.write(arr.join(' || '));
                arr[-5]='negative 5';
                arr.push('push');
                arr.unshift('New Added 1st')
                // If you use negatve index, the array have a map of that index to the value. Hidden.
                document.write('<br>'+arr.join(', '));
                // console.log return no value it simply print to the console the output. 
                // as a side effect. it will alway be undefinded.
                var arr2 = ['hello ','My ','Name ','is ', 35];
                function printToPage(arg){
                    document.write(arg);
                }
                arr2.forEach(printToPage);
                // forEach will put every element in he array through your function;
                function tru(x){
                    if (x.typeof == 'string'){
                        return true;
                    }
                }
                document.write('<br>'+arr2.every(tru));
                // every will test every element of your array through your function and 
                // return true if they all ppreturn true
                var numArray = [1,2,3,4];
                function square(num){
                    return num * num;
                }
                var newNumArray = numArray.map(square);
                document.write('<br>'+newNumArray);
                // map take each element of the array, run it through the input function
                // and then return the input function's return as a new array;
                var test = 6;
                var test2 = 'Hello';
                var test3 = {
                    age: 10,
                    location: 'Tampa',
                    stuff: function(){
                            if (this.age <= 21){ 
                                document.write('<br>'+21-this.age + ' more year till you are 21!');
                                // return null;
                            }
                            else{ return 8};
                        }
                }
                function changeValue(change){
                    change = 10;
                }
                changeValue(test);
                document.write('<br>'+test);
                // Primitive argument are passed by value, the hence the function cannot change 
                // them, however object argument are passed by reference.thus the function can
                // change them.
                var changeLocation = function (x){
                    if (x.location !='New York'){
                        var location = x.location;
                        x.location = 'New York';
                        document.write('You previously live in ' + location);
                        document.write('<br> We have now move you to ' + x.location);
                    };
                };
                changeLocation(test3);
                // function hoisting is when all function is move to the top of the page by 
                // default in JS so function is can be called before they are declared.
                // declaration are all move to the top.Further function declartion is not 
                // an executable statement no semicolon is needed. You can also declare a 
                // function within a object's property.
                document.write(test3.stuff());
                
            </script>
        </p>
        <h4>You have visited this page <span id='timeVisited'></span></h4>
        <h4>Today's Date is <span id='date'></span></h4>
        <button id='button' onclick='myAddition()' style=''>
            +5
        </button>
        <span id='addition'></span>
        <script>
            var number = 0;
            function myAddition() {
                number += 5;
                document.getElementById('addition').innerHTML = number;
                if (number >10){
                    document.getElementById('button').style.backgroundColor='green';
                };
                if (number > 100){
                    document.getElementById('button').style.backgroundColor='red';
                };
                if (number >200){
                    document.getElementById('addition').innerHTML = 'You must be really bored';
                    document.getElementById('addition').style.backgroundColor = 'lime';
                }
            };
            
            var date = new Date();
            document.getElementById('date').innerHTML = date;
            var timeVisited = 0;
            if (localStorage.timeVisited){
                timeVisited = parseInt(localStorage.timeVisited)
            }
            timeVisited += 1;
            localStorage.setItem('timeVisited',timeVisited);
            document.getElementById('timeVisited').innerHTML = timeVisited;
            
        </script>
    </body>
</html>