<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
        <title>Test 2</title>
        <script></script>
    </head>
    <body>
      <div class='container border border-primary pt-4'>
        <h5 id='jumplink' class='text-primary'>This is for jump link</h1>
        <a href='/learning_JS#jump' target='_blank'>Click here</a>
        <!--target='_self' is default same window, target = '_blank' make a new window-->
        <div class='row border'>
            <div class='col-md-4 border'>SOmething 4</div>
            <div class='col-md-6 border'>goes 6</div>
            <div class='col-md-2 border'>here 2</div>
        </div>
        <table class='table'>
            <tr>
                <th>name</th>
                <th>address</th>
                <th>email</th>
            </tr>
            <tr>
                <td>Khoi</td>
                <td>4721 Tampa</td>
                <td>123 fake@gmail.com</td>
            </tr>
        </table>
      </div>
    </body>
</html>