{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='container-fuild'>
    
<!--</div> style='overflow: hidden;'>-->
    <div class='content'>
    <div class='row mr-2'>
        <div class='col-md-4 nav navigation'>
          <div style='height: auto;overflow: hidden;'>
            <h2>Account Services</h2>
            <hr align='left'  style='width:360px;'>
            <table class='table table-bordered border table-hover shadow-sm' style='background:white'>
              <tbody>
                <tr><th scope="row">
                    <a href='#personal' style='display: block;text-decoration: none;'>Personal Details</a></th>
                </tr>
                <tr><th scope="row">
                    <a href='#profiles' style='display: block;text-decoration: none;'>User Profiles</a></th>
                </tr>
                <tr><th scope="row">
                    <a href='#account' style='display: block;text-decoration: none;'>Account Management</a></th>
                </tr>
              </tbody>
            </table>
            {% if messages %}
              <ul class="messages" style='list-style-type: none;margin-top:0'>
            {% for message in messages %}
              <li><div class="alert-inherit alert-success shadow-sm" role="alert">{{ message }}</div></li>
            {% endfor %}
              </ul> 
            {% endif %}
        </div>
        </div>
            <div class='col-md-8 rounded' style=' height: 400px;overflow: hidden;overflow-y: auto;'>
        
            <table class='table table-hover shadow mt-1' style='background:white'>
                <tbody>
                <tr>
                  <td scope="row" colspan="3" id='personal'><big><i class="far fa-user" style='font-size:24px'></i> Personal Details</big></td>
                </tr>
                <tr>
                {% if request.user.profile.middle_name %}
                  <td scope="row" style='width:33%;'><strong>First Name</strong><br>
                  {{ request.user.first_name }}<br>
                  <td scope='row' style='width:33%;'><strong>Last Name</strong><br>
                  {{ request.user.last_name }}<br></td>
                  <td scope="row" style='width:33%;'><strong>Middle Name</strong><br>
                  {{ request.user.profile.middle_name }}</td>
                {% else %}
                  <td scope="row"><strong>First Name</strong><br>
                  {{ request.user.first_name }}<br>
                  <td scope='row' colspan="2"><strong>Last Name</strong><br>
                  {{ request.user.last_name }}<br></td>
                {% endif %}
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>Home Address</strong><br>
                {% if user.profile.street_address %}
                  {{ user.profile.street_address }}<br>
                  {{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zip_code }}&nbsp
                  <a href='{% url "account_management_edit" modify="address" %}'><small><i class="far fa-edit"></i>address</small></a>
                {% else %}
                  <i class="fas fa-exclamation-circle red-font"></i> 
                  <a href='{% url "account_management_edit" modify="address" %}'><small>where you live</small></a>
                {% endif %}
                </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><i class="far fa-envelope"></i> <strong>Email Address</strong><br>
                {% if user.email %}
                  {{ user.email }} &nbsp<a href='{% url "account_management_edit" modify="email" %}'><small><i class="far fa-edit"></i>email</small></a>
                {% else %}
                  <i class="fas fa-exclamation-circle red-font"></i> 
                  <a href='{% url "account_management_edit" modify="email" %}'><small>your email adress</small></a>
                {% endif %}
                  </td>
                </tr>
                <tr colspan="3">
                  <td scope="row"><i class="fas fa-phone"></i> <strong>Phone Number</strong><br>
                {% if user.profile.phone_number %}
                  ({{ user.profile.phone_number|slice:':3' }}) 
                  {{ user.profile.phone_number|slice:'3:6' }} - {{ user.profile.phone_number|slice:'6:'}}&nbsp
                  <a href='{% url "account_management_edit" modify="phone_number" %}'><small><i class="far fa-edit"></i>change</small></a>
                {% else %}
                  <i class="fas fa-exclamation-circle red-font"></i> 
                  <a href='{% url "account_management_edit" modify="phone_number" %}'><small>your number</small></a>
                {% endif %}
                  </td>
                {% if user.profile.emergency_contact %}
                  <td scope="row"><strong>Emergency Contact</strong><br>
                  ({{ user.profile.emergency_contact|slice:':3' }}) 
                  {{ user.profile.emergency_contact|slice:'3:6' }} - {{ user.profile.emergency_contact|slice:'6:'}}&nbsp
                  <a href='{% url "account_management_edit" modify="emergency_contact" %}'><small><i class="far fa-edit"></i>change</small></a>
                  </td>
                  <td scope="row"><strong>Relationship</strong><br>
                  {{ user.profile.relationship }}
                  </td>
                {% else %}
                  <td scope="row" colspan='2'><strong>Emergency Contact</strong><br>
                  <i class="fas fa-exclamation-circle red-font"></i> 
                  <a href='{% url "account_management_edit" modify="emergency_contact" %}'><small>who we call</small></a>
                  </td>
                {% endif %}
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>Day of Birth</strong><br>
                  4-6-1986 &nbsp
                  </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class='table border-primary table-hover shadow' style='background:white'>
                <tbody>
                <tr>
                  <td scope="row" colspan="3" id='profiles'><big>
                    <!--<i class="far fa-address-card" style='font-size:24px'></i> -->
                  User Profiles</big></td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>Something About You</strong><br>
                  I have a bird pet,  &nbsp<a href='{% url "account_management_edit" modify="about" %}'><small><i class="far fa-edit"></i>edit</small></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><i class="fas fa-utensils"></i> <strong>Favorite Food</strong><br>
                  Pizza &nbsp<a href='{% url "account_management_edit" modify="about" %}'><small><i class="far fa-edit"></i>edit</small></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><i class="fas fa-flask"></i> <strong>Favorite Subject</strong><br>
                  Math &nbsp<a href='{% url "account_management_edit" modify="about" %}'><small><i class="far fa-edit"></i>edit</small></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><i class="fas fa-gamepad"></i><i class="fas fa-football-ball"></i><strong> Hobby</strong><br>
                  Video Game &nbsp<a href='{% url "account_management_edit" modify="about" %}'><small><i class="far fa-edit"></i>add</small></a>
                  </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class='table border-primary table-hover shadow' style='background:white'>
              <tbody>
                <tr>
                  <td scope="row" colspan="3" id='account'><big>Account Management</big></td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>Username</strong><br>
                  {{ user.username }}
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>Password</strong><br>
                  ******** &nbsp<a href='/home'><small>reset pasword</small></a>
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong>School ID</strong><br>
                  {{ user.profile.school_id|slice:':3' }} - {{ user.profile.school_id|slice:'3:6' }} - {{ user.profile.school_id|slice:'6:'}}&nbsp
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="3"><strong> Status</strong><br>
                {% if user.profile.is_teacher %}
                  Teacher
                {% elif user.profile.is_student %}
                  Student
                {% else %}
                  Account Inactivate
                {% endif %}
                  </td>
                </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
    
    <!--<div class="Content" style='display: flex;-->
    <!--overflow: hidden;-->
    <!--height: 100vh;-->
    <!--margin-top: -100px;-->
    <!--padding-top: 100px;-->
    <!--position: relative;-->
    <!--width: 100%;-->
    <!--backface-visibility: hidden;-->
    <!--will-change: overflow;'>-->
    <!--    <div class="Wrapper" style='position: absolute;-->
    <!--width: 100%;-->
    <!--height: 100%;'>-->
    <!--        <div class="RightContent" style='float: right;'>-->
    <!--            <p>You can fix the width of this content.</p>-->
    <!--            <p>if you wont, his width will stretch just as it needs to.</p>-->
                
    <!--        </div>-->
    <!--        <div class="LeftContent" style='overflow: auto;-->
    <!--height: auto;-->
    <!--padding: .5rem;-->
    <!---webkit-overflow-scrolling: touch;-->
    <!---ms-overflow-style: none;'>-->
    <!--            <p>this will scroll</p>-->
    <!--            <br>-->
    <!--            lala-->
    <!--            <br>lalal<br>lalal<br>lala<br><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p>-->
    <!--                <p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p><p>this will scroll</p>-->
    <!--        </div>-->
    <!--    </div>-->
    </div>

    </div>
</div>

{% endblock %}