{% extends 'base.html' %}
{% block content %}
<br>
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
        <h3>Course Selection Form.</h3>
        <br>
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
    <form action="/teacher/add_course", method="post", id='course_select'> {% csrf_token %}
        <div class="input-group mb-3" style='width:350px' >
          <div class="input-group-prepend">
            <label class="btn btn-info" >Course</label>
          </div>
        <select class="form-control" name='department_course' id='course' required>
            <optgroup label="Mathematic">
            <option value='Math|Algebra 100'>Algebra 100</option>
            <option value='Math|Algebra 200'>Algebra 200</option>
            <option value='Math|Trigonometry'>Trigonometry</option>
            <option value='Math|Calculus'>Calculus</option>
            </optgroup>
            <optgroup label="Life Sciences">
            <option value='Science|Biology 200'>Biology 100</option>
            <option value='Science|Biology 200'>Biology 200</option>
            <option value='Science|Chemistry'>Chemistry</option>
            <option value='Science|Genetics'>Genetics</option>
            </optgroup>
        </select>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Spring" Checked>
          <label class="form-check-label" for="">Spring</label>
          </div>
          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Summer">
          <label class="form-check-label" for="">Summer</label>
          </div>
          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Fall">
          <label class="form-check-label" for="">Fall</label>
        </div>
        <div class="input-group mb-3" style='width:350px' >
          <div class="input-group-prepend">
            <button class="btn btn-info" >Year &nbsp&nbsp&nbsp</button>
          </div>
            <input type="text" class="form-control" name='year'id="" maxlength="4" placeholder="e.g. 2020" data-toggle="popover" title="" data-content="4 digit Year" required>
        </div>

                <!--warper remove width 100%-->
        <div class="input-group-prepend">
          <label class="btn btn-info" for='description' >Course Description</label>
        </div>
          <textarea class="form-control" style='width:350px' name='description' id="" rows="4" cols='40' placeholder="e.g. Summer 2018 Biology 1100 Mrs Gloria" data-toggle="popover" title="" data-content="Briefly describe your Course"required></textarea>
        <div class="col-xs-6 form-group">     
            <input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">
        </div>
        </div>
        
        <div class="form-row width-8">
    
       
    </div>
    </div>
    </form>

{% endblock %}