{% extends 'base.html' %}
{% block content %}
<br>

<div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
        <h3>Select Course to teachs.</h3>
        
        <form action="teacher/add_class", method="post", id='course_select'> {% csrf_token %}
        <table>
            <tr><td>
                    <select name="class_choice">
                        <option value="Algebra 1">Algebra</option>
                        <option value="History 1">History</option>
                    </select>
                </td>                
                <td><label for="description">Course Description:</label></td>
                <td>
                    <textarea name="description" rows='4' cols='35'></textarea></td>
            </tr>
        </table>
         
        
        <div class="col-xs-6 form-group">     
            <input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">
        </div>
        </form>
        </div></div></div></div>
        
{% endblock %}