{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
        <h3>Course Selection Form.</h3>
        <br>
    <form action="/teacher/add_class", method="post", id='course_select'> {% csrf_token %}
        <label for="course">Pick Course:</label>
        <select class="selectpicker" data-style="btn-info" name='course'>
            <optgroup label="Mathematic">
            <option value='m-al-101'>Algebra 1100</option>
            </optgroup>
            <optgroup label="Life Sciences">
            <option value='ls-bio-101'>Biology 1100</option>
            </optgroup>
        </select>

        <div class="form-group">
        <label for="description">Course Description:</label>
        <textarea class="form-control-inherit" name='description' id="" rows="4" cols='40' placeholder="i.e Mrs Gloria Beginner's Algebra"></textarea>
        </div>
        <div class="col-xs-6 form-group">     
            <input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">
        </div>
    </form>

{% endblock %}