{% extends 'base.html' %}
{% block content %}
<div class='content'>
        <h2 style='padding-left: 10px'>Teacher Console</h2>
        <hr style="text-align:left;margin-left:0;width:315px;height:0px;padding: 0px"/>
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        <ul>
            <li>View All Class</li>
            <li><a href='/teacher/add_course'>Add Course</a></li>
            <li><a href='/teacher/student_list'>Student List</a></li>
        </ul>
        {% if request.user.teacher.course_by_teacher.all.count > 0 %}
          <h4>Your Courses:</h4>
          <table class="table table-hover table-bordered pad-right-table">
            <thead class='table-primary'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course Number</th>
              <th scope="col">Course Title
                <a href='{% url "teacher" %}'><i class="fas fa-sort-alpha-down"></i></a></a>
              </th>
              <th scope="col">Academic Year
                <a href='{% url "teacher_sort" sort=1 %}'><i class="fas fa-sort-numeric-down"></i></a></a>
              </th>
              <th scope="col">View Classes</th>
              <th scope="col">Lesson Plan</th>
            </tr>
            </thead>
            <tbody>
        {% for course in request.user.teacher.course_by_teacher.all|dictsort:'course_title' %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ course.course_number }}</td>
              <td>{{ course.course_title }}</td>
              <td>{{ course.semester }}, {{ course.year }}</td>
              <th style="width: 15%">
                <a href='{% url "classroom_view" course_id=course.id %}'><i class="fas fa-th-list"></i></a></a>
              </th>
              <th style="width: 15%">
                <a href='{% url "lesson_plan" course_id=course.id %}'><i class="fas fa-edit"></i></a>
              </th>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        {% endif %}
</div>
{% endblock %}