{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content '>
        <h2 style='padding-left: 0px'>Teacher Console</h2>
        <hr style="text-align:left;margin-left:0;width:315px;height:0px;padding: 0px"/>
        <div class='row mr-2'>
          <div class='col-md-6'>
            <ul>
              <li>View All Class</li>
              <li><a href='/teacher/add_course'>Add Course</a></li>
            {% if conflict_schedule %}
              <li><a href='{% url "schedule_conflict" %}'>Schedule Conflict (not finish) <i class="fas fa-exclamation text-red"></i></a></li>
            {% endif %}
              <!--<li><a href='/teacher/student_list'>Student List</a></li>-->
            </ul>
          </div>
          <div class='col-md-6'>
            {% if messages %}
               <span class="messages" style='list-style-type: none;'>
            {% for message in messages %}
               <div class="alert alert-{{ message.tags }} shadow-sm" style='display:inline-block' role="alert">{{ message }}</div>
            {% endfor %}
               </span> 
            {% endif %}
          </div>
        </div>
        {% if request.user.teacher.course_by_teacher.all.count > 0 %}
          <h4>Your Courses:</h4>
          <div class="mr-2">
          <table class=" table  table-hover table-bordered shadow">
            
            <thead class='table-primary'>
            <tr>
              <th scope="col" style="width: 8%">#</th>
              <th scope="col" style="width: 15%">Course Number</th>
              <th scope="col">Course Title
                <a href='{% url "teacher" %}'><i class="fas fa-sort-alpha-down"></i></a></a>
              </th>
              <th scope="col" style="width: 20%">Academic Year
                <a href='{% url "teacher_sort" sort=1 %}'><i class="fas fa-sort-numeric-down"></i></a></a>
              </th>
              <th scope="col" style="width: 13%">View Classes</th>
              <th scope="col" style="width: 13%">Lesson Plan</th>
              <th scope="col" style="width: 10%">Drop/Edit</th>
            </tr>
            </thead>
            <tbody>
        {% for course in course_sorted %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ course.course_number }}</td>
              <td>
                <div class="dropright">
                <button style='border:none; background:none;cursor:pointer; cursor:hand;outline:none' type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ course.course_title }}
                </button>
              
                <div class="dropdown-menu shadow-sm"  aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">{{ course.description}}</a>
                </div>
                </div>
              </td>
              <td>{{ course.semester }}, {{ course.year }}</td>
              <td>
                <a href='{% url "classroom_view" course_id=course.id %}'><i class="fas fa-chalkboard-teacher"style='font-size:18px'></i></a></a>
              </td>
              <td>
                <a href='{% url "view_lesson_plan" course_id=course.id %}'><i class="fas fa-list-ol" style='font-size:19px'></i></a>
              </td>
              <td>
                <div class="dropleft">
                <button class='dropdown-toggle' style='border:none; background:none;cursor:pointer; cursor:hand;outline:none' type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cogs " style='font-size:19px'></i>
                </button>
                <div class="dropdown-menu body-teacher shadow"  aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item pl-3" href="{% url 'edit_course' course_id=course.id %}"> &nbsp&nbsp edit course <i class="fas fa-edit text-primary"></i></a>
            
              {% if course.course_in_classroom.count == 0 %}
                <a class="dropdown-item">
                  <form action='{% url "drop_course" %}' method='post' style='padding-left:0px'>{% csrf_token %}
                    <input type='hidden' name='course_id'value='{{ course.id }}'/>
                    <button type='submit' data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Alert!"
                    style='text-align:left;border:none;background:none;cursor: pointer;cursor: hand;'>
                    drop course <i style='color:red' class="fas fa-trash test"></i>
                    </button>
                  </form>
                </a>
              {% else %}
                <a class="dropdown-item">
                  <form action='/' method='post' style='padding-left:0px'>
                    <button type='submit' style='text-align:left;border:none;background:none;cursor: pointer;cursor: hand;' disabled>
                    <span data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Drop All Classes first"> 
                    drop course <i class="fas fa-ban text-warning" style='font-size:17px'></i>
                    </span>
                    </button>
                  </form>
                </a>
                <a class="dropdown-item">
                  <form action='{% url "archive_course" %}' method='post' style='padding-left:0px'>{% csrf_token %}
                    <input type='hidden' name='course_id'value='{{ course.id }}'/>
                    <button type='submit' style='text-align:left;border:none;background:none;cursor: pointer;cursor: hand;'>
                    archive course <i class="far fa-file-archive"></i>
                    </button>
                  </form>
                </a>
              {% endif %}
              </div>
              </div>
              </td>
            </tr>
        {% endfor %}
            
            </tbody>
            
          </table>
          
          </div>
        {% endif %}
<br>
</div>
{% endblock %}