{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='container-fuild'>
<!--</div> style='overflow: hidden;'>-->
    <div class='content'>
    <div class='row mr-2'>
        <div class='col-md-4 nav navigation'>
          <div style='height:auto ;overflow: hidden;position:fixed'>
            <h2>Account Services</h2>
            <hr align='left'  style='width:360px;'>
            <table class='table table-bordered border table-hover shadow-sm' style='background:white'>
              <tbody>
                <tr><th scope="row">
                    <a href='/account_management/' style='display: block;text-decoration: none;'>Personal Details</a></th>
                </tr>
                <tr><th scope="row">
                    <a href='/account_management/#profiles' style='display: block;text-decoration: none;'>User Profiles</a></th>
                </tr>
                <tr><th scope="row">
                    <a href='/account_management/#account' style='display: block;text-decoration: none;'>Account Management</a></th>
                </tr>
              </tbody>
            </table>
            {% if messages %}
              <ul class="messages" style='list-style-type: none;margin-top:0'>
            {% for message in messages %}
              <li><div class="alert-inherit alert-success shadow-sm" role="alert">{{ message }}</div></li>
            {% endfor %}
              </ul> 
            {% endif %}
        </div>
        </div>
            <div class='col-md-8 rounded col-lg-offset-3' style=' height: auto;overflow: hidden;overflow-y: auto;'>
            <table class='table shadow mt-1' style='background:white'>
                <tbody>
                 {% block account_management %}
                 {% endblock %}
                </tbody>
            </table>
        
        </div>
    </div>
    </div>
</div>

{% endblock %}