{% extends 'account_profile/edit_profile/base.html' %}
{% block account_management %}

<tr>
    <td scope="row" colspan="3"><strong>Change Password</strong><br>
</tr>
<tr>
    <td scope="row" colspan="3" class='pb-4'>
    <form action='/account_management_save/' method='post'style='border:0'>{% csrf_token %}
      <div class='form-row'>
          <div class='col-md-6 mt-2'>
              <input type='hidden' value='2' name='stuff'>
            <label class='col-form-label'>old password</label>
            <input type="text" class='form-control shadow-sm' name="old_password" id='' required/>
            
            <label class='col-form-label'>new password</label>
            <input type="text" class='form-control shadow-sm' name="password" id='' required/>
            
            <label class='col-form-label'>confirm password</label>
            <input type="text" class='form-control shadow-sm' name="confirm_password" id='' required/>
           
            <button class='btn btn-success shadow-sm text-center mt-2'>Change Password</button></br>
          </div>
        </div>
    </form>
    </td>
</tr>
{% endblock %}