{% extends 'account_profile/edit_profile/base.html' %}
{% block account_management %}

<tr>
    <td scope="row" colspan="3"><strong>Current Phone Number</strong><br>
    <span class='ml-3'>
        {% if user.profile.phone_number %}
            ({{ user.profile.phone_number|slice:':3' }}) 
            {{ user.profile.phone_number|slice:'3:6' }} - {{ user.profile.phone_number|slice:'6:'}}&nbsp
        {% else %}
                  <i class="fas fa-exclamation-circle red-font"></i> 
        {% endif %}
        </span></td>
</tr>
<tr>
    <td scope="row" colspan="3"><strong>New Phone Number</strong><br>
    <form action='/account_management_save/' method='post'style='border:0'>{% csrf_token %}
      <div class='form-inline'>
          <div class='col-md-8' 'input-group-sm'>
            <input type="text" class='form-control shadow-sm' name="phone_number_1" maxlength="3" style='width:53px'id='' placeholder='555'required/> &nbsp
            <input type="text" class='form-control shadow-sm' name="phone_number_2" maxlength="3" style='width:53px' id='' placeholder='555'required/> -
            <input type="text" class='form-control shadow-sm' name="phone_number_3" maxlength="4" style='width:62px'id=''placeholder='5555' required/>
            <button class='btn btn-success shadow-sm text-center ml-2'>Save Changes</button>
            </div>
        </div>
    </form>
    </td>
</tr>
{% endblock %}