{% extends 'base.html' %}
{% block content %}
<br>
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class="container">
         <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class='col-md-3'>
              {% if messages %}
                <span class="messages shadow-sm">
              {% for message in messages %}
                <div class="alert-inherit alert-{{ message.tags }}" role="alert">{{ message }}</div>
              {% endfor %}
                <span> 
              {% endif %}
              
            </div>
            <div class="col-md-5 form border border-info rounded pb-3 ml-2 mr-2 mb-3 shadow">
        <h3 class='mt-2'>Course Selection Form</h3>
        <hr/>
    <form action="/teacher/add_course" method="post", id='course_select'> {% csrf_token %}
        <div class="input-group mb-2"  >
          <div class="input-group-prepend">
            <label class="btn btn-info shadow-sm" >Course</label>
          </div>
        <select class="form-control shadow-sm" name='department_course' id='course' required>
          <span class='shadow'>
            <optgroup label="Mathematic">
            <option value='Math|Algebra 100|'>Algebra 100</option>
            <option value='Math|Algebra 200|'>Algebra 200</option>
            <option value='Math|Trigonometry'>Trigonometry</option>
            <option value='Math|Calculus'>Calculus</option>
            </optgroup>
            <optgroup label="Life Sciences">
            <option value='Science|Biology 200'>Biology 100</option>
            <option value='Science|Biology 200'>Biology 200</option>
            <option value='Science|Chemistry'>Chemistry</option>
            <option value='Science|Genetics'>Genetics</option>
            </optgroup>
          </span>
        </select>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <label class=" btn-info btn shadow-sm" >Year &nbsp&nbsp&nbsp</label>
          </div>
          <select class='form-control shadow-sm' name='year' required>
	            <option value="2018">2018</option>
	            <option value="2019">2019</option>
	            <option value="2020">2020</option>
	          </select>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Spring" Checked>
          <label class="form-check-label" for="">Spring</label>
          </div>
          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Summer">
          <label class="form-check-label" for="">Summer</label>
          </div>
          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="semester" id="" value="Fall">
          <label class="form-check-label" for="">Fall</label>
        </div>
        

                <!--warper remove width 100%-->
        <div class="input-group-prepend">
          <label class="btn btn-info mt-2 shadow-sm" for='description' >Course Description</label>
        </div>
          <textarea class="form-control" name='description' maxlength='200'
          id="" rows="4" cols='40' placeholder="ex. Summer 2018 Biology Gloria Mendez" data-toggle="popover" title="" data-content="Briefly describe your Course"required></textarea>
        <div class="col-xs-6 form-group">
          <button class="btn shadow-sm btn-success text-center mt-2"><i class="fas fa-chalkboard-teacher"></i> Create Course</button>
           
          <a href='{% url "teacher" %}' class="btn mt-2 btn-primary shadow-sm" ><i class="fas fa-ban"></i> Cancel &nbsp&nbsp</a>
            <!--<input class="btn btn-md btn-success" type="submit" id="login" value="Add Class">-->
        </div>
        </div>
        
    </div>
    </form>

{% endblock %}