<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'school_app/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body class='body-registration'>
  <script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class="container-fuild">
   <div class="row mr-3">
    <div class="col-md-4"></div>
    <div class="col-md-4 rounded shadow-lg" style='background:white'>
        <!--This make the white squared background -->
      <div class="panel" style='background:white'>
        <!--this make the panel inside the white squared-->
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 ">
              {% if messages %}
                <ul class="messages">
              {% for message in messages %}
                   <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
              {% endfor %}
                </ul> 
              {% endif %}
              <form action="/register" method="post" style="display: block;" class='input-group-sm'>
                {% csrf_token %}
                <h2 class='text-dark mt-3'style="color:black;" >Account Registration</h2>
                <hr/>
                  <div class="form-group pb-2">
                    <label for="username" >Username<span style="color:red">*</span></label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="" value='{{input_dict.username}}'required>

                    <label for="first_name" class='col-form-label'>First Name<span style="color:red">*</span></label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Gloria" value='{{input_dict.first_name}}'required>
                  
                    <label for="last_name" class='col-form-label'>Last Name<span style="color:red">*</span></label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Doe" value='{{input_dict.last_name}}'required>
                  
                    <label for="last_name" class='col-form-label'>Middle Name</label>
                    <input type="text" id="last_name" name="middle_name" class="form-control" placeholder="" value='{{input_dict.middle_name}}'>
                  </div>
                  <hr>
                  <div class="form-group pb-2">
                    <label for="" >Date of Birth<span style="color:red">*</span></label>
                    <input type="date" id="" name="date_of_birth" class="form-control" placeholder="" value='{{input_dict.username}}'required>

                    <label for="school_id" class='col-form-label'>School ID<span style="color:red">*</span></label>
                    <input data-toggle="popover" title="" data-content="Enter numbers only" type="text" id="school_id" name="school_id" class="form-control" placeholder='10 Digit, Even numbered = Teacher' maxlength='10' required>
                    
                    <label for="email" class='col-form-label' >Email Address</label>
                    <input type="text" id="stuff" name="email" class="form-control"  placeholder="Gloria_Doe@gmail.com Optional"value='{{input_dict.email}}'>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="password" >Password<span style="color:red">*</span></label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="" required>
                  
                    <label class="control-label" for="password" class='col-form-label'>Confirm Password</label>
                    <input type="password" id="password" name="password_confirm" class="form-control" placeholder="" data-toggle="popover" title="" data-content="Re-enter password" required>
                  </div>

                  <div class="col-xs-6 form-group">     
                   <button class="btn btn-primary btn-block text-center shadow-sm"><i class="fa fa-paper-plane"></i> Submit »</button>
                  </div>
              </form> 
          </div>
        </div>
      </div>
  </div>
</div>
<div class="col-md-4"></div>
</div>
<br><br>
</div>

</body>
</html>