{% extends 'base.html' %}
{% block content %}

<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class="container-fuild" style='padding-top:25px; padding-left:40px;padding-right:40px'>
  <div class="form-row" style=''>
        <div class="col-md-4">
          <h4>{{ course.semester }}, {{ course.year }}</h4>
          <hr/>
          <h4>{{course.course_title}}</h4>
          <hr/>
           <a class="btn btn-sm btn-primary" href='{% url "teacher" %}'><i class="fas fa-step-backward"></i> Cancel Add</a>
        <hr>
        {% if messages %}
          <span class="messages">
        {% for message in messages %}
             <div class="alert-inherit alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
          </span> 
        {% endif %}
        </div>
  <div class='col-md-7 form border border-info rounded pb-3 ml-2 mr-2 mb-3 shadow'>
    <form action="/teacher/lesson_plan/add/" method="post" id=''> {% csrf_token %}
      <input type="hidden" name="course_id" value='{{course.id}}'/>
  
      <div class="form-row mt-3" style=''>
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Week Number</label>
            <input type="text" name='week_number' maxlength="2" placeholder='ex. Week 1' data-toggle="popover" title="" data-content="Digit only" data-placement="bottom" class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Agenda of the week</label>
            <textarea class="form-control" name='agenda' id="" rows="2" cols='30' placeholder="Agenda"required></textarea>
          </div>
          <div class='col-md-12'>
            <hr>
          </div>
      
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Monday Date</label>
            <input type="date" name='monday_date' class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Monday Assignment</label>
            <textarea class="form-control" name='monday_assignment' id="" rows="2" cols='30' placeholder="Homework"required></textarea>
          </div>
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Tuesday Date</label>
            <input type="date" name='tuesday_date' class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Tuesday Assignment</label>
            <textarea class="form-control" name='tuesday_assignment' id="" rows="2" cols='30' placeholder="Homework"required></textarea>
          </div>
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Wednesday Date</label>
            <input type="date" name='wednesday_date' class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Wednesday Assignment</label>
            <textarea class="form-control" name='wednesday_assignment' id="" rows="2" cols='30' placeholder="Homework"required></textarea>
          </div>
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Thursday Date</label>
            <input type="date" name='thursday_date' class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Thursday Assignment</label>
            <textarea class="form-control" name='thursday_assignment' id="" rows="2" cols='30' placeholder="Homework"required></textarea>
          </div>
          <div class="col-md-4">
            <label class="btn btn-info" for='' >Friday Date</label>
            <input type="date" name='friday_date' class="form-control"required>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Friday Assignment</label>
            <textarea class="form-control" name='friday_assignment' id="" rows="2" cols='30' placeholder="Homework"required></textarea>
          </div>
          <div class="col-md-8">
            <label class="btn btn-info" for='' >Weekend Assignment</label>
            <textarea class="form-control" name='weekend_assignment' id="" rows="2" cols='30' placeholder="Weekend HW"required></textarea>
          </div>
          <div class='col-md-12'>
            <button class="btn btn-md btn-success text-center"><i class="fas fa-chalkboard"></i> Add Class</button>
          </div>
      </form>
      </div>
    </div>
 </div>
 <br><br>
</div>

{% endblock %}