{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
  <div class="container-fuild form-row" style='width:100%'>
    <div class="col-md-6">
        <div style="width: 320px">
        <h2>Weekly lesson outline</h2>
        <hr class='hr-line'/>
        <h4 style='padding-left: 5px'>{{ course.course_title }}</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 5px'>{{ course.semester }}, {{ course.year }}</h4>
        <hr class='hr-line'/>
        <hr style='height:0px; visibility:hidden; margin-bottom:-10px;' />
        <a href='{% url "teacher" %}' class="btn btn-sm btn-primary shadow-sm" ><i class="fas fa-step-backward"></i> Console</a></a>
        <a href='{% url "add_lesson_plan" course_id=course.id %}' class="btn btn-info btn-sm shadow-sm" role="button"><i class="fas fa-plus"></i> Weekly Schedule</a>
        <hr/>
    </div></div>
    <div class="col-md-5">
        {% if messages %}
          <ul class="messages" style='list-style-type: none;'>
        {% for message in messages %}
             <li><div class="alert-inherit alert-success shadow-sm" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        
        {% if lesson_plan %}
    </div></div>
        <div class='mr-2'>
          <table class="table table-hover table-bordered  shadow">
            <thead class='table-primary'>
            <tr>
              <th scope="col"style="width: 8%">Week #</th>
              <th scope="col">Start Date</th>
              <th scope="col">Agenda</th>
              <th scope="col">View Schedule</th>
              <th scope="col">Edit Schedule</th>
              <th scope="col" style="width: 8%">Delete</th>
            </tr>
            </thead>
            <tbody>
        {% for lesson in lesson_plan %}
            <tr>
              <th scope="row">{{ lesson.week_number }}</th>
              <td>{{ lesson.monday_date }}</td>
              <td>{{ lesson.agenda}}</td>
              <td>
                <a href='{% url "weekly_lesson_plan" lesson_plan_id=lesson.id  %}'><i class="fas fa-th-list"></i></a>
              </td>
              <td>
                <a href='{% url "edit_lesson_plan" lesson_plan_id=lesson.id  %}'><i class="fas fa-edit"></i></a>
              </td>
              <td>
                <form action='/teacher/lesson_plan/delete_lesson_plan/' method='post'>{% csrf_token %}
                  <input type='hidden' name='lesson_plan_id'value='{{ lesson.id }}'/>
                  <button type='submit' style='border:none;background:none;cursor: pointer;cursor: hand;'>
                    <i style='color:red' class="fas fa-trash test" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Alert!"></i>
                  </button>
                </form>
                <!--<a href='{% url "delete_lesson_plan" course_id=course.id lesson_plan_id=lesson.id %}'>-->
                <!--<i style='color:red' class="fas fa-trash test" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="ALERT!"></i></a>-->
              </td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <h4><div class="alert-inherit alert-info" role="alert"><i class="fas fa-exclamation"></i> Current Course have no lesson planned. </div></h4>
        {% endif %}
        <br><br>
</div>
{% endblock %}