{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
        <div style="width: 320px">
        <h4 style='padding-left: 1px'>{{ course.semester }}, {{ course.year }}</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'>{{course.course_title}}</h4>
        <hr class='hr-line'/>
        <br>
          <a href='{% url "teacher" %}' class="btn btn-sm btn-primary" ><i class="fas fa-step-backward"></i> Console</a></a>
        <a href='{% url "edit_lesson_plan" lesson_plan_id=lesson_plan.id %}' class="btn btn-info btn-sm" role="button"><i class="fas fa-pencil-alt"></i> Edit Schedule</a>
        <hr/>
        </div>
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        <h5>Schedule for week {{ lesson_plan.week_number }}</h5>
          <table class="table table-hover table-bordered pad-right-table">
            <thead class='table-primary'>
            <tr>
              <th scope="col" style="width: 15%">Day</th>
              <th scope="col" style="width: 15%">Date</th>
              <th scope="col">Assignment</th>
              <th scope="col">Edit</th>
              <th scope="col">Document /w</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Monday</th>
              <td>{{ lesson_plan.monday_date }}</td>
              <td>{{ lesson_plan.monday_plan }}</td>
              <td>
                 <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              <td>{{ lesson_plan.tuesday_date }}</td>
              <td>{{ lesson_plan.tuesday_plan}}</td>
              <td>
                <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td>{{ lesson_plan.wednesday_date }}</td>
              <td>{{ lesson_plan.wednesday_plan}}</td>
              <td>
                <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
              <th scope="row">Thursday</th>
              <td>{{ lesson_plan.thursday_date }}</td>
              <td>{{ lesson_plan.thursday_plan}}</td>
              <td>
                <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>{{ lesson_plan.friday_date }}</td>
              <td>{{ lesson_plan.friday_plan}}</td>
              <td>
                <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">Weekend</th>
              <td colspan="2">{{ lesson_plan.weekend_plan }}</td>
              <td>
                <a href='{% url "teacher"   %}'><i class="fas fa-th-list"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        <br><br>
</div>
{% endblock %}