{% extends 'base.html' %}
{% block content %}
<script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
    });
</script>
<div class='content'>
    <h2>Lesson plan by week:</h2><hr/>
        <div style="width: 280px">
        <h4 style='padding-left: 1px'>{{ course.semester }}, {{ course.year }}</h4>
        <hr class='hr-line'/>
        <h4 style='padding-left: 1px'>{{course.course_title}}</h4>
        <hr class='hr-line'/>
        <br>
        <a href='{% url "add_lesson_plan" course_id=course.id%}' class="btn btn-info btn-sm" role="button">Create weekly plan</a>
        <hr/>
        </div>
        {% if messages %}
          <ul class="messages">
        {% for message in messages %}
             <li><div class="alert-inherit alert-success" role="alert">{{ message }}</div></li>
        {% endfor %}
          </ul> 
        {% endif %}
        
        {% if lesson_plan %}
          <h5><big>Classroom assigned:</big></h5>
          <table class="table table-hover table-bordered pad-right-table">
            <thead class='table-primary'>
            <tr>
              <th scope="col">Week #</th>
              <th scope="col">Start Date</th>
              <th scope="col">Agenda</th>
              <th scope="col">View Lesson</th>
              <th scope="col">Edit Lesson</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
        {% for lesson in lesson_plan %}
            <tr>
              <th scope="row">{{ lesson.week }}</th>
              <td>{{ lesson.monday_date }}</td>
              <td>{{ lesson.weekly_agenda}}</td>
              <td>
                <a href='{% url "teacher"  %}'><i class="fas fa-users"></i></a>
              </td>
              <td>
                <a href='{% url "teacher"  %}'><i class="fas fa-edit"></i></a>
              </td>
              <td><a href='{% url "teacher" %}'>
                <i style='color:red' class="fas fa-trash test" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="ALERT!"></i></a></td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
        {% else %}
        <h4><div class="alert-inherit alert-info" role="alert"><i class="fas fa-exclamation"></i> Current Course have no lesson planned. </div></h4>
        {% endif %}
</div>
{% endblock %}